.App {
  text-align: left;
  height: 100%;
  width: 100%;
}

.mainHeader{
  width: inherit;
  height: 10rem;
  background: aqua;
}

.rightSection{
  width: 10%;
  background: purple;
  height: 100%;
}
.sideBarMenu{
  position: fixed;
  width: 10%;
  background: green;
  height: 100%;
  top: 0px;
}
.mainBody{
  position: relative;
  float: right;
  width: 90%;
}