.App {
  text-align: left;
  height: 100%;
}

.mainSection{
  width: 90%;
  float: right;
  height: 10rem;
  background: aqua;
}

.rightSection{
  width: 10%;
  background: purple;
  height: 100%;
}
.leftHeader{
  position: absolute;
  width: 10%;
  background: green;
  height: 100%;
}
.mainBody{
  position: relative;
  float: right;
  width: 90%;
}